*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}
.asos{
    width: 303px;
    height: 520px;
    background-color: rgb(220, 218, 218);
    border-radius: 20px;
    border: 3px solid black;
}
.num{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.ekran{
    width: 299px;
    height: 70px;
    background-color: white;
    border-radius: 19px;
    margin-bottom: 3px;
}
.nums{
    width: 299px;
    height: 299px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 3px;
}
.elem{
    width: 299px;
    height: 70px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
    padding-left: 40px;
    margin-bottom: 3px;
}
.ele{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.teng{
    width: 299px;
    height: 70px;
    border-radius: 20px;
    background-color: white;
}